<div class="company {{ (filter && filter !== category) ? 'no-show' : '' }}" data-id="{{ coid }}">
  {{#if intialized}}
    <div class="company-heading row">
      <div class="col col-100 col-md-18 nudge-right">
        <p class="rank category {{ category }}">
          <span class="sr-only">The overall ranking of this company is</span>
          <span class="popHed">{{ rank }}</span>
        </p>
      </div>

      <div class="col col-100 col-md-75">
        <h3>{{ company }}</h3>
        <p>
         

          {{ shortDesc || description }}

        <p>
      </div>
    </div>

    <div class="company-details row">
      <div class="col col-100 col-md-18 nudge-right">
        <dl class="gray-stripe"> 
          <dt>2016 ranking:</dt><dd>TODO</dd>
        </dl>
        <dl>  
          <dt>City:</dt><dd>{{ city }}</dd>
        </dl>
        <dl class="gray-stripe">  
          <dt>Sector:</dt><dd> <span class="category">{{ categoryName }}</span></dd>
        </dl>
                  {{#if www}}
           <dl> 
          <dt> <a href="{{ www.indexOf('http') === 0 ? www : 'http://' + www }}" target="_blank" rel="noopener">Website</a>
          </dt>
          </dl>
          {{/if}}
      </div>

      <div class="col col-0 col-md-12">
        <div class="logo">
          {{#if hasLogo}}
            <img src="{{ utils.getDirectoryJS() }}/assets/logos/{{ coid }}.png" alt="Company logo for {{ company }}">
          {{/if}}
        </div>
      </div>

      <div class="col col-100 col-md-24">
        {{#if finances}}
          <h4 class="sr-only">Company financial details</h4>

          <dl class="gray-stripe">
            <dt>Revenue:</dt><dd>${{ currency(finances.revenue) }}</dd>
          </dl>
          <dl> 
            <dt>1-year % change:</dt><dd>{{ prevFinances && prevFinances.revenue ? Math.round((finances.revenue - prevFinances.revenue) / prevFinances.revenue) + '%' : '-' }}</dd>
          </dl>
          <dl class="gray-stripe">  
            <dt>Revenue-exp ratio:</dt><dd>{{ Math.round(finances.revenue / finances.expenses * 100) / 100 }}</dd>
          </dl>
          <dl>   
            <dt>Excess:</dt><dd>${{ currency(finances.excess) }}</dd>
          </dl>
        {{/if}}
      </div>

      <div class="col col-100 col-md-30 ceo-desktop">
        {{#if officer}}
          <h4 class="sr-only">Leadership details</h4>

          <dl class="gray-stripe">
            <dt>CEO:</dt><dd>{{ officer.first + ' ' + officer.last }}</dd>
          </dl>
          <dl>  
            <dt>Compensation:</dt><dd>${{ currency(officer.total) }}</dd>
          </dl>
          <dl class="gray-stripe">   
            <dt>1-year % change:</dt><dd>-</dd>
          </dl>
          <dl>    
            <dt>Comp. as % of expenses:</dt><dd>{{ Math.round(officer.total / finances.revenue * 100 * 10000) / 10000 }}%</dd>
          </dl>
        {{/if}}
      </div>
      
      <div class="col col-0 col-md-12" style="float:right;">
        <div class="ceo-headshot" data-officer-id="{{ officer.officerId }}">
          {{#if officer && officer.hasImage}}
            <img src="{{ utils.getDirectoryJS() }}/assets/ceos/{{ officer.officerId }}.png" alt="Headshot for {{ officer.first + ' ' + officer.last }}">
          {{else}}
            <img src="{{ utils.getDirectoryJS() }}/assets/images/generic-headshot.jpg" alt="Generic headshot image">
          {{/if}}
        </div>
      </div>
      
    </div>
  {{/if}}
</div>

<script>
export default {
  oncreate: function() {
    // Allow data to set all propeties, since we can't set
    // all from the markup of a component
    this.observe('data', d => {
      //console.log(d);
      if (_.isPlainObject(d)) {
        this.set(d);
        this.set({ intialized: true });
      }
    });
  },

  helpers: {
    currency: new Intl.NumberFormat({ currency: 'USD' }).format
  },

  computed: {
    categoryName: (categories, category) => {
      return category && _.find(categories, { id: category })
        ? _.find(categories, { id: category }).name
        : '';
    }
  }
};
</script>
