<div class="company {{ (filter && filter !== category) ? 'no-show' : '' }}" data-id="{{ coid }}">
  {{#if intialized}}
    <div class="company-heading row">
      <div class="col col-25 col-md-20 grid-space">
        <p class="rank category {{ category }}">
          <span class="sr-only">The overall ranking of this company is</span>
          <span>{{ rank }}</span>
        </p>
      </div>

      <div class="col col-75 col-md-75 grid-space">
        <h3>{{ company }}</h3>

        <p>
          {{ shortDesc }}&nbsp;
          <span class="desktop-only-inline show-notes link {{ showNotes ? 'is-shown' : '' }}" on:click="set({ showNotes: true })">Notes</span>
        </p>

        <p class="desktop-only notes {{ showNotes ? 'is-shown' : '' }}">Notes: {{ getValue(finances, 'footnotes', publishYear) ? getValue(finances, 'footnotes', publishYear).replace(/[^.]$/, '.') + '  ' : '' }}
        Financial data from fiscal year ending {{ formatDate(getValue(finances, 'fiscalYearEnd', publishYear), 'MMM DD, YYYY') }}.</p>

        <div class="company-meta">
          <span class="nowrap-item">
            {{ categoryName }} <span class="spacer"></span>
          </span>

          <span class="nowrap-item">
            2016 ranking: <strong>{{ previousRank ? previousRank : '-' }}</strong>
            {{#if previousRank && rank > previousRank}}
              <span class="decrease" title="A decrease in rank from last year."></span>
            {{/if}}
            {{#if previousRank && rank < previousRank}}
              <span class="increase" title="An increase in rank from last year."></span>
            {{/if}} <span class="spacer"></span>
          </span>

          <span class="nowrap-item">
            {{ city }}
            {{#if www}}
              <span class="spacer"></span>
            {{/if}}
          </span>

          {{#if www}}
            <span class="nowrap-item">
              <a href="{{ linkURL }}" target="_blank" rel="noopener">{{ linkText }}</a>
            </span>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="company-details row">
      <div class="col col-25 col-md-20 grid-space no-grid-space-md">
        <div class="logo">
          {{#if hasLogo}}
            <img src="{{ utils.getDirectoryJS() }}/assets/logos/{{ coid }}.png" alt="Company logo for {{ company }}">
          {{/if}}
        </div>
      </div>

      <div class="col col-75 col-md-30 grid-space no-grid-space-md">
        {{#if finances}}
          <h4 class="sr-only">Company financial details</h4>

          <div class="financial-data revenue">
            <span title="The full revenue is ${{ getValue(finances, 'revenue', publishYear) }}">${{ abbreviateNumber(getValue(finances, 'revenue', publishYear)) }}</span> in revenue
          </div>

          {{#if getValue(finances, 'revenue', publishYear - 1)}}
            <div class="financial-data revenue-change">
              <span title="Last year's revenue was ${{ abbreviateNumber(getValue(finances, 'revenue', publishYear - 1)) }}">
                {{ getChange(finances, 'revenue', publishYear) }}
              </span>

              {{#if getChange(finances, 'revenue', publishYear, 2, false) < 0}}
                <span class="decrease" title="A decrease in revenue from last year."></span>
              {{/if}}
              {{#if getChange(finances, 'revenue', publishYear, 2, false) > 0}}
                <span class="increase" title="An increase in revenue from last year."></span>
              {{/if}}

              change from {{ publishYear - 1 }}
            </div>
          {{/if}}

          <div class="financial-data expenses">
            <span>{{ abbreviateNumber(getValue(finances, 'expenses', publishYear)) }}</span> in expenses
          </div>

          <!-- <div class="financial-data revenue-ratio">
            <span>{{ round(getValue(finances, 'revenue', publishYear) / getValue(finances, 'expenses', publishYear)) }}</span> ratio to expenses
          </div> -->

          <div class="financial-data excess">
            <span>{{ getValue(finances, 'excess', publishYear) < 0 ? '-$' : '$' }}{{ abbreviateNumber(getValue(finances, 'excess', publishYear)).replace('-', '') }}</span> in excess
          </div>
        {{/if}}
      </div>

      {{#if officers[publishYear]}}
        <div class="col col-25 col-md-15">
          <div class="ceo-headshot" data-officer-id="{{ officers[publishYear] ? officers[publishYear].officerId : 'no-officer' }}">
            {{#if officers[publishYear] && officers[publishYear].hasImage}}
              <img src="{{ utils.getDirectoryJS() }}/assets/ceos/{{ officers[publishYear].officerId }}.png" alt="Headshot for {{ officerName }}">
            {{else}}
              <img src="{{ utils.getDirectoryJS() }}/assets/images/generic-headshot.jpg" alt="Generic headshot image">
            {{/if}}
          </div>
        </div>

        <div class="col col-75 col-md-35">
          <h4 class="sr-only">Leadership details</h4>

          <div class="leadership-data leader-name">
            <span>{{ officerName }}</span><br>{{ officers[publishYear].title }}
          </div>

          <div class="leadership-data compensation {{ getValue(officers, 'total', publishYear) ? '' : 'compensation-na'}}">
            <span>
              {{#if getValue(officers, 'total', publishYear)}}
                ${{ abbreviateNumber(getValue(officers, 'total', publishYear)) }}
              {{else}}
                N/A
              {{/if}}
            </span>
            {{#if getValue(officers, 'total', publishYear)}}in{{/if}}
            compensation
          </div>

          {{#if getValue(officers, 'total', publishYear) && getValue(officers, 'total', publishYear - 1)}}
            <div class="leadership-data compensation-change">
              <span>
                {{ getChange(officers, 'total', publishYear) }}
              </span>

              {{#if getChange(officers, 'total', publishYear, 2, false) < 0}}
                <span class="decrease" title="A decrease in compensation from last year."></span>
              {{/if}}
              {{#if getChange(officers, 'total', publishYear, 2, false) > 0}}
                <span class="increase" title="An increase in compensation from last year."></span>
              {{/if}}

              change from {{ publishYear - 1 }}
            </div>
          {{/if}}

          {{#if getValue(officers, 'total', publishYear)}}
            <div class="leadership-data compensation-revenue-ratio">
              <span>{{ round((getValue(officers, 'total', publishYear) / getValue(finances, 'expenses', publishYear)) * 100, 2) }}%</span> of expenses
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>

    <div class="row mobile-only">
      <div class="col col-100">
        <p class="mobile-only notes is-shown mobile-notes">Notes: {{ getValue(finances, 'footnotes', publishYear) ? getValue(finances, 'footnotes', publishYear).replace(/[^.]$/, '.') + '  ' : '' }}
        Financial data from fiscal year ending {{ formatDate(getValue(finances, 'fiscalYearEnd', publishYear), 'MMM DD, YYYY') }}.</p>
      </div>
    </div>
  {{/if}}
</div>

<script>
export default {
  oncreate: function() {
    // Allow data to set all propeties, since we can't set
    // all from the markup of a component
    this.observe('data', d => {
      //console.log(d);
      if (_.isPlainObject(d)) {
        this.set(d);
        this.set({ intialized: true });
      }
    });
  },

  helpers: {
    currency: new Intl.NumberFormat({ currency: 'USD' }).format,

    getValue: function(set, name, year) {
      return _.isObject(set) && _.isObject(set[year]) && set[year][name]
        ? set[year][name]
        : '';
    },

    getChange: function(
      set,
      name,
      publishYear,
      decimals = 2,
      formatted = true
    ) {
      formatted = formatted === 'false' ? false : !!formatted;
      let round = value => {
        return (
          Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals)
        );
      };
      let c =
        _.isObject(set) &&
        _.isObject(set[publishYear]) &&
        set[publishYear][name]
          ? set[publishYear][name]
          : undefined;
      let p =
        _.isObject(set) &&
        _.isObject(set[publishYear - 1]) &&
        set[publishYear - 1][name]
          ? set[publishYear - 1][name]
          : undefined;
      if (_.isNumber(c) && _.isNumber(p)) {
        return formatted
          ? round((c - p) / p * 100, decimals) + '%'
          : (c - p) / p;
      }
      else {
        return formatted ? '-' : undefined;
      }
    },

    round: function(value, decimals = 2) {
      return _.isNumber(value)
        ? Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals)
        : value;
    },

    formatDate: function(date, format) {
      //return window.moment(date).format(format);
      return moment && date
        ? moment(date).format(format)
        : date && date.toLocaleString
          ? date.toLocaleString().split('T')[0]
          : '';
    },

    // https://stackoverflow.com/questions/10599933/convert-long-number-into-abbreviated-string-in-javascript-with-a-special-shortn
    abbreviateNumber(input, decimals = 1) {
      if (!_.isNumber(input)) {
        return input ? input : '';
      }

      // Round function
      let round = value => {
        return (
          Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals)
        );
      };

      // Get power
      let b = input.toPrecision(2).split('e');
      // Floor at decimals, ceiling at trillions
      let k = b.length === 1 ? 0 : Math.floor(Math.min(b[1].slice(1), 14) / 3);
      // Divide by power
      let c = k < 1 ? round(input) : round(input / Math.pow(10, k * 3));
      // Ensure -0 is 0
      c = c < 0 ? c : Math.abs(c);
      // Append abbreviation
      return c + ['', 'k', 'M', 'B', 'T'][k];
    }
  },

  computed: {
    categoryName: (categories, category) => {
      return category && _.find(categories, { id: category })
        ? _.find(categories, { id: category }).name
        : '';
    },

    officerName: (officers, publishYear) => {
      // Don't show Mr, Mr, Ms, Mrs salut
      return _.isObject(officers) && _.isObject(officers[publishYear])
        ? (officers[publishYear].salut &&
          officers[publishYear].salut.indexOf('M') !== 0
          ? officers[publishYear].salut + ' '
          : '') +
          officers[publishYear].first +
          ' ' +
          officers[publishYear].last +
          (officers[publishYear].lineage
            ? ', ' + officers[publishYear].lineage
            : '')
        : '';
    },

    linkURL: www => {
      return www && www.indexOf('http') === 0 ? www : 'http://' + www;
    },

    linkText: www => {
      return www
        ? www
          .replace(/https?:\/\//, '')
          .replace('www.', '')
          .replace(/\/$/, '')
        : '';
    }
  }
};
</script>
