<div class="container-lg">
  {{#if loading}}
    <div class="loading"><i class="fa fa-spinner fa-pulse"></i> Loading ...</div>
  {{/if}}

  {{#if companies}}
    <div class="category-filter">
      <form>
        <div class="row">
          <div class="col col-100 col-md-66">
            <fieldset>
              <legend>Filter <span class="sr-only">company list</span></legend>

              {{#each categories as f}}
                <button type="button" class="category {{ f.id }} {{ filter === f.id ? 'active' : '' }}" on:click="set({ filter: f.id })">{{ f.name }}</button>
              {{/each}}
            </fieldset>
          </div>

          <div class="col col-100 col-md-33">
            <div class="ceo-sort">
              {{#if (!ceoSort)}}
                <button on:click="set({ ceoSort: true })" type="button" class="sort-ceo">Sort by CEO compensation</button>
              {{else}}
                <button on:click="set({ ceoSort: false })" type="button" class="unsort-ceo">Sort by revenue rankings</button>
              {{/if}}
            </div>
          </div>
      </form>
    </div>

    <div class="company-list {{ !ceoSort ? 'company-list-show' : 'company-list-noshow' }}">
      {{#each companies as company @coid }}
        <Company data="{{ company }}" filter="{{ filter }}" categories="{{ categories }}" utils="{{ utils }}" publishYear="{{ publishYear }}" />
      {{/each}}
    </div>

    <div class="company-list complany-list-ceo {{ !ceoSort ? 'company-list-noshow' : 'company-list-show' }}">
      {{#each companiesCeo as company @coid }}
        <Company data="{{ company }}" filter="{{ filter }}" categories="{{ categories }}" utils="{{ utils }}" publishYear="{{ publishYear }}" />
      {{/each}}
    </div>
  {{/if}}
</div>


<script>
import Company from './company.svelte.html';

export default {
  components: {
    Company
  },

  data() {
    return {
      filter: undefined,
      categories: [
        { id: undefined, name: 'All' },
        { id: 'social-services', name: 'Social services' },
        { id: 'healthcare', name: 'Healthcare' },
        { id: 'arts', name: 'Arts' },
        { id: 'education', name: 'Education' },
        { id: 'other', name: 'Other' }
      ]
    };
  },

  methods: {
    sortByOfficerCompensation() {
      this.set({ companies: [] });
      this.set({
        companies: _.sortBy(this.get('originalCompanies'), a => {
          return a.officer && a.officer.total ? a.officer.total : 0;
        }).reverse()
      });
    },
    sortByRank() {
      this.set({
        companies: _.sortBy(this.get('originalCompanies'), a => {
          return a.rank ? a.rank : 0;
        })
      });
    }
  }
};
</script>
