<div class="container-lg">
  {{#if loading}}
    <div class="loading"><i class="fa fa-spinner fa-pulse"></i> Loading ...</div>
  {{/if}}

  {{#if companies}}
    <div class="category-filter">
      <form>
        <fieldset>
          <legend>Filter <span class="sr-only">company list</span></legend>

          {{#each categories as f}}
            <button type="button" class="category {{ f.id }} {{ filter === f.id ? 'active' : '' }}" on:click="set({ filter: f.id })">{{ f.name }}</button>
          {{/each}}
        </fieldset>
      </form>
    </div>

    <div class="company-list">
      {{#each companies as company, ci }}
        <Company data="{{ company }}" filter="{{ filter }}" categories="{{ categories }}" utils="{{ utils }}" />
      {{/each}}
    </div>
  {{/if}}
</div>


<script>
import Company from './company.svelte.html';

export default {
  components: {
    Company
  },

  data() {
    return {
      filter: undefined,
      categories: [
        { id: undefined, name: 'All' },
        { id: 'social-services', name: 'Social services' },
        { id: 'healthcare', name: 'Healthcare' },
        { id: 'arts', name: 'Arts' },
        { id: 'education', name: 'Education' },
        { id: 'other', name: 'Other' }
      ]
    };
  }
};
</script>
