/**
 * Simple, responsive grid
 */

$grid-padding: 0.5rem !default;

.row {
  margin-left: -1 * $grid-padding;
  margin-right: -1 * $grid-padding;

  &::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .col {
    display: inline;
    vertical-align: baseline;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    float: left;
  }

  // Custom ??
  .col-md-12 {
    width: 12%;
  }

  .col-md-18 {
    width: 18%;
  }
    
   .col-md-24 {
    width: 24%;
  } 
    
// .col-100 {float:none} 
//    
    

  // Default classes
  @for $i from 0 through 75 {
    .col-#{($i * 3)} {
      width: ($i * 3) * 1%;
    }
  }

  @for $i from 1 through 2 {
    .col-#{($i * 33)} {
      width: ($i * 33.33332) * 1%;
    }
  }

  // Mobile first classes
  @each $name, $size in $breakpoints {
    @for $i from 0 through 20 {
      @media only screen and (min-width: #{$size}) {
        .col-#{$name}-#{($i * 5)} {
          width: ($i * 5) * 1%;
        }
      }
    }

    @for $i from 1 through 2 {
      @media only screen and (min-width: #{$size}) {
        .col-#{$name}-#{($i * 33)} {
          width: ($i * 33.33332) * 1%;
        }
      }
    }
  }
}
