/**
 * Hero styles.  Note the Hero markup is managed in the CMS.
 */

.hero {
  .byline {
    time {
      font-weight: normal;
    }
  }
}

.article-share {
  margin-top: -1em;
  margin-bottom: 4em;
}
