/**
 * Page component styles
 */

// Category
.category-filter {
  padding-bottom: 1em;
  border-bottom: 3px solid map-get($grays, 'medium');
  margin-bottom: 2em;

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  legend {
    font-size: 1em;
    float: left;
    margin-right: 0.85em;
    padding-top: 0.5em;
  }

  button {
    background-color: map-get($grays, 'lighter');
    padding: 0.5em;
    border: 0;
    border-radius: 0.2em;
    margin-right: 0.5em;

    &:hover {
      background-color: map-get($grays, 'light');
      cursor: pointer;
    }

    &.active {
      border: 2px solid map-get($grays, 'light');
    }

    &.undefined {
      background-color: $color-white;
    }
  }
}

.company-list-noshow {
  display: none;
}

.company-list-show {
  display: block;
}
