/**
 * Styles that apply to all components
 */

.loading {
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
}

dd {
  display: inline;

  &::after {
    display: block;
    content: '';
  }
}

dt {
  padding-right: 0.5em;
  display: inline-block;
}

// Category colors
$color-categories: (
  social-services: #FFB3EC,
  healthcare: #B3ECFF,
  arts: #FFECB3,
  education: #C6FFB3,
  other: #C6B3FF
);

@each $id, $color in $color-categories {
  .category.#{$id} {
    background-color: $color;
  }

  .category.#{$id}-fg {
    color: darken($color, 50);
  }
}
