/**
 * Styles that apply to all components
 */

.loading {
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
}

.nowrap-item {
  display: inline-block;
  white-space: nowrap;
}

dl {
  font-size: 0.9em;
  padding: 0.2em 0 0.25em 0.4em;
  margin: 0;
}

dd {
  display: inline;

  &::after {
    display: block;
    content: '';
  }
}

dt {
  padding-right: 0.5em;
  display: inline-block;
}

.gray-stripe {
  background-color: #efefef;
}

// Category colors
$color-categories: (
  social-services: #ebe3d3,
  healthcare: #d5e1ec,
  arts: #edd4d4,
  education: #dbe3ce,
  other: #d6d6e6
);

@each $id, $color in $color-categories {
  .category.#{$id} {
    background-color: $color;
  }

  .category.#{$id}-fg {
    color: darken($color, 50);
  }
}
